@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

html {
    font-family: 'Nanum Barun Gothic', sans-serif;
    background-color: rgba(255, 198, 180, 0.32);
}
.footer-container { padding-bottom: 16px; }
.parallax-container { height: 300px; }
.parallax-container img { opacity: 0.5; }